APP_NAME=Clothes Ecommerce API
DATABASE_URL=sqlite:///./app/file.db

SECRET_KEY=change_this_to_a_long_random_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# KHQR Payment Gateway
KHQR_GATEWAY_URL=https://khqr.cc/api/payment/request
KHQR_PROFILE_ID=aEaG4uiBgUg0s69AaCxGbDoldlG7OZyz
KHQR_SECRET_KEY=YOUR_SECRET_KEY
KHQR_PROFILE_KEY=YOUR_PROFILE_KEY
KHQR_VERIFY_URL=https://khqr.cc/api/aEaG4uiBgUg0s69AaCxGbDoldlG7OZyz/payment-gateway/v1/payments/check-trans

# Change this to your real frontend/backend success URL when deployed
SITE_SUCCESS_URL=http://localhost:8000/api/payments/success

# Telegram Bot Alert
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
